/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.cdk-drag-preview {
  transition: all 0.02s ease;
}

.cdk-drag-placeholder {
  opacity: 0.8;
}

.cdk-drag:active {
  transform: scale(1.05);
}
